In [1]:
import pandas

In [1]:
Adopce = pandas.read_csv('adopce-zvirat.csv', sep = ";")
Adopce

NameError: name 'pandas' is not defined

In [57]:
Adopce.shape
#6 sloupců, 513 řádků

(513, 6)

In [56]:
Adopce.columns
#id nazev_cz nazev_en trida_cz cena k_prohlidce

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [51]:
Adopce.iloc[34, [1, 2]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [52]:
nejdrazsi = Adopce.sort_values(by="cena", ascending=False)
nejdrazsi.iloc[[0]]

      id         nazev_cz        nazev_en trida_cz   cena  k_prohlidce
114  335  Tygr sumaterský  Sumatran tiger    Savci  50000            1

In [60]:
posledni_alf_cz = Adopce.sort_values(by="nazev_cz", ascending=False)
nejdrazsi.iloc[[0]]

       id     nazev_cz                nazev_en trida_cz  cena  k_prohlidce
371  1190  Žluva hajní  Eurasian golden oriole    Ptáci  1000            1

In [54]:
posledni_alf_en = Adopce.sort_values(by="nazev_en", ascending=False)
nejdrazsi.iloc[[0]]

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
161,491,Frankolín žlutokrký,Yellow-necked francolin,Ptáci,1000,1