In [38]:
import pandas

In [39]:
liberec = pandas.read_csv("zam_liberec.csv")
plzen = pandas.read_csv("zam_plzeň.csv")
praha = pandas.read_csv("zam_praha.csv")

In [40]:
liberec["mesto"] = "Liberec"
plzen["mesto"] = "Plzeň"
praha["mesto"] = "Praha"

In [41]:
zaměstnanci = pandas.concat([liberec, plzen, praha])
zaměstnanci.shape

(56, 5)

In [44]:
platy = pandas.read_csv("platy_2021_02.csv")
zaměstnanci_s_platy = pandas.merge(platy, zaměstnanci, on="cislo_zamestnance")
zaměstnanci_s_platy.shape

(43, 6)

In [48]:
prumerne_platy = zaměstnanci_s_platy.groupby('mesto')['plat'].mean()
prumerne_platy

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64